

	.sectionTitle{
		font-size: 175%;
		color: white;
		border: 1px solid black;
		padding: 5px;
		background:white;
		
	}
	p {
	  font-size: 125%;
	  color: white;
	}

	h1{
		text-align: center;
	}

	.box{
		
		border:1px solid black;
		background: #0077be;
	}
 .One{
 	background-color:green; 
 }

 .Two{
 	background-color: orange; 
 }

 .Three{
 	background-color: black; 
 }